{% extends "base.html" %}

{% block content %}

<h3>Book - 本</h3>

<div class="btn-group">
  <a href="/books/{{book.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit book - 本のデータを編集する
  </a>
  <a href="/books/{{book.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete book - 本を削除する
  </a>
</div>

<div class="media">
  <div class="media-left">
    <img class="book-image" src="http://placekitten.com/g/128/192">
  </div>
  <div class="media-body">
    <h4 class="book-title">
      {{book.title}}
      <small>{{book.publishedDate}}</small>
    </h4>
    <h5 class="book-author">By {{book.author|default('Unknown', True)}}</h5>
    <p class="book-description">{{book.description}}</p>
  </div>
</div>

{% endblock %}